h2 {
    color:aquamarine;
}

p {
    color:yellow;
    font-weight: bold;
    font-size: 50px;
    height : 30px;
    width : 1000px;

}

img {font-weight: bold;
    font-size: 50px;
    height : 30px;
    width : 1000px;
    object-position: -10 30;
    object-position: center top;

}

footer {
    width: 100%;
    color: blanchedalmond;
    background-color: antiquewhite;
    position:fixed;
    bottom: 0;
    font-size: 1.5em;
    text-align: center;
    transition: 1s;
}

footer:hover{
      color:red;
      font: size 2em;
}

header {
     background-color: rgb(100,102,20);
     color: wheat;
     width: 100%;
     height: max-content;

     position: fixed;
     left: 0;
     top: 0;
}     